*{
    margin: 0px;
    padding: 0px;
}

html,body{
    height:100%;
}

body{
    margin:0;
    background-color: white;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

/*Nav CSS*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    opacity: 100%;
    position: fixed;
    top:0;
    width:100%;
    z-index:900;
}

.nav-background-transparent{
    background-color: transparent;
}

.nav-item-transparent{
    color:white;
}

.nav-background-white{
    background-color: white;
}

.nav-item-white{
    color: #414f6b;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 20%;
}

.nav-links li{
    list-style: none;
    text-decoration-line:underline;
}

.nav-links a{
    font-size: 12px;
    text-decoration: none;
    font-family: 'Lato', cursive;
    font-weight: bold;
    font-style: italic;
}

.nav-links a:hover{
    color: black;
}

.menu{
    display: none;
}

.menu div{
    width:25px;
    height: 5px;
    background-color: black;
    margin: 3px;
    transition: all 0.3s ease;
}

.logo-image{
    height:50px;
    width: 50px;
}

.logo-title{
    padding-left: 5px;
}

.logo{
    display: flex;
}

.logo-placement{
    margin-left: -79px;
    position:relative;
    top: 2.5vh;
    font-size: 22px;
}

/*Show or hide element*/

.show{
    display:block;
}

.hide{
    display:none;
}

/*Section 1 Los Angeles*/

#mountain-1{
    background-image: url(images/mountains1.png);
    background-color: #d7dae5;
    background-position:center top;
    background-repeat: no-repeat;
    height:110vh;
    background-size: cover;
}

.black{
    color: #4d4d4d;
}

.font115{
    font-size: 115px;
}

.font124{
    font-size: 124px;
}

.gradient{
    background: -webkit-linear-gradient(#414f6b, #2a3346);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title-margin{
    line-height: 75px;
    letter-spacing: 10px;
}

/*History Section*/
#history-section{
    background-image: url(images/history-bg.png);
    background-color: #d7dae5;
    background-position:center top;
    background-repeat: no-repeat;
    height:140vh;
    background-size: cover;
}

.space-history{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-margin{
    margin:-6vh 10vh 0vh 10vh;
    font-size: 16px;
}

.headers{
    font-size: 135px;
    font-family: 'Oswald', sans-serif;
}

/*Carousel*/
#carasoul{
    height: 30vh;
    background-color:rgba(65, 79, 107, 0.65);
}

.carousel-cell {
    width: auto;
    height: 135px;
    margin-right: 10px;
    counter-increment: carousel-cell;
  }

.flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    background: #63769d;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
    background: white;
}

/*Schedule*/
.mountain-3{
    background-image: url(images/mountain3.png);
    background-color: #d7dae5;
    background-position:center bottom;
    background-repeat: no-repeat;
    height:70vh;
    background-size: cover;
}

.mountain-4{
    background-image: url(images/mountain4.png);
    background-color: #d7dae5;
    background-position:center bottom;
    background-repeat: no-repeat;
    height:70vh;
    background-size: cover;
}

.blue-line{
    background-color: #414f6b;
    height:40px;
}

.mtn-btn-active{
    background-color: #b0b4be;
    color: #414f6b;
    font-family: "Oswald", sans-serif;
    text-decoration: underline;
    border:none;
    font-size: 20px;
    height:40px;
    width: 140px;
}

.mtn-btn{
    background-color: #414f6b;
    color: #b0b4be;
    border:none;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    height:40px;
    width: 140px;

}

/*Schedule-Table*/
table{
    background-color: rgba(255,255,255, 0.7);
    margin-top: 10vh;
    margin-left: 5vh;
    padding-bottom: 2vh;
}

tr, td{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

td, th{
    padding-left: 3vh;
    padding-right: 3vh;
}

th{
    padding-top: 1vh;
}

#schedule{
    font-family: 'Oswald', 'sans-serif';
    color: #414f6b;
    font-size: 32px;
}

.title{
    font-size: 32px;
    font-family: 'Oswald', sans-serif;
}

.vertical-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    text-align: center;
    position: relative;
    margin-right: 35vh;
    margin-top: 35vh;
}


/*Footer CSS*/
#footer{
    background-color: #414f6b;
    height: 15vh;
    text-align: center;
    color: #4a5978;
}

.copyright{
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
}

/*Fonts, Sizes*/
.lato{
    font-family: 'Lato', cursive;
}

.bebas{
    font-family: 'bebas neue', sans-serif;
}

.light-blue{
    color: #63769d;
}

.subtitle{
    margin-left: -35px;
    position:relative;
    bottom: 4vh;
}

.font21{
    font-size:21px;
}

table{
    width: 80%;
}

.team-center{
    text-align: center;
}

.shade41{
    color: #414f6b;
}

.shadea0{
    color: #a0a7b5;
}

.opacity{
    opacity: 75%;
}


/* Screen Sizes */
@media screen and (max-width: 768px){
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #f9f9f9;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);  
    }
    .nav-links li{
        color: black !important;
    }
    .menu{
        display: block;
    }

    .header{
        text-align: center;
        margin-right: 10vh;
        margin-left: 10vh;
    }

    .img-cara{
        margin: 0 5px;
        height:50px;
        width: auto;
    }
    .font115{
        font-size: 60px;
    }
    .font124{
        font-size: 70px;
    }
    .offset40{
        margin-left: 2vh
    }
    .history-center{
        text-align: center;
    }
}

/*tablets*/
@media (min-width:769px) and (max-width: 991.98px) { 
    .offset40{
        margin-left: 2vh
    }
 }

/* Large devices (desktops, less than 1200px)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .offset40{
        margin-left: 8vh
    }
    table{
        width: 90%;
    }
 }

 @media (min-width: 1200px){ 
    .offset40{
        margin-left: 2vh
    }
 }

.nav-active{
    transform: translateX(0%);
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
   
}